<div class="jumbotronWrapper row">
    <div class="col-sm"></div>
    <div class="jumbotron">
        <h1 class="display-4 col-lg-">Managing Your Resumes Has <br>Never Been Simpler.</h1>
        <p class="lead">Automatically generate and save beautiful resumes based on your responses
            to a simple set of questions.
        </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="login.html" role="button">Sign up for free</a>
        </p>
    </div>
    <div class="col-sm"></div>
</div>