<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="#">Raise Your Flags</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <div class="ml-auto">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="login-nav" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="account-nav" href="">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logout-nav" href="">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
