<div class="row">
    <form class="col" id="resumeForm">
        <label><span class="bold"><h1>Fill Out Form, Generate Résumé</h1></span></label>
        <label><h5>We've prepopulated this form based on your previous
                responses. You can select the data you want to include in your final
                version of this résumé.</h5></label>
        <label>For example, when applying for a job at Google you may wish to
            include your programming internship,
            but when applying for a job at McDonalds you may wish to include
            your skills at handling money.</label>
        <br><br>
        <div><select id="selectResume"></select><br>
            <button class="btn btn-dark" onclick="loadResumeFormManual();">Load
                Resume</button></div>
        <div id="generatedInputElementsGoHere"></div>
        <div class="form-group">
            <button class="btn btn-dark" onclick="event.preventDefault(); previewResume();" id="previewResumeButton">Preview Résumé</button>
            <button id="saveResumeButton" class="btn btn-dark"
                onclick="updateResume(JSON);" style="display: none;">Update Résumé</button>

            <br><br>    
            <h1>Save your Résumé as:</h1>

            <input type='text' class='form-control' id='resumeName'>
            <button class="btn btn-dark" onclick="updateResume(JSON);">Save</button>
            <button class="btn btn-dark" onclick="deleteResume(JSON);">Delete this Résumé</button>
            <button class="btn btn-dark" onclick="printResume();">Print / Save to Computer</button>
            <select id="printMode"><option value="1">One Column</option><option
                    value="2">Two Columns</option>
            </select>
        </div>
    </form>
    <div class="col" id="resume">
        <label><span class="bold"><h1>Your Beautiful Résumé</h1></span></label>
        <label>See an preview of your new, beautiful résumé.</label>
        <label>To update, select items you want to include from the list on the left.</label>
        <div id="resumeDocument">

            <h2 id="resumeDocumentName"></h2>
            <hr>
            <div id="emailContainer"></div>
            <div id="phoneContainer"></div>
            <div id="addressContainer"></div>
            <div id="websiteContainer"></div><br>
            <h3 id="summaryHeader" style="display: none;"><b>Summary</b></h3>
            <div id="summaryContainer"></div><br>
            <h3 id="certHeader" style="display: none;"><b>Certifications</b></h3>
            <div id="certContainer"></div><br>

        </div>

    </div>
</div>