#navbar a {
    margin: 5px;
    font-size: 18px;
}

#navbar .navbar-brand {
    margin-left: 22px;
    font-size: 25px;
}

.row {
    margin: 10px;
}

.bold {
    font-weight: bold;
}

.display-block {
    display: block !important;
}

.btn {
    margin: 10px;
}