#navbar a {
    margin: 5px;
    font-size: 18px;
}

#navbar .navbar-brand {
    margin-left: 22px;
    font-size: 25px;
}

.jumbotron {
    margin-top: 50px;
    background: none;
}

#wrapper .row {
    margin: 0;
}

#wrapper h1 {
    font-family: 'Times New Roman', Times, serif;
}

#wrapper p, #wrapper a, #wrapper h1 {
    color: white;
}

#wrapper .btn {
    color: black;
}

html, body {
    background-color: black;
    background-image: url("../template/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
}